In [1]:
import pandas as pd
import src.preprocessing as prepro
import src.data_handler as data_handler

raw_data : data_handler.RawData = data_handler.RawData()

1.1) Utilizo la función de pandas info() para analizar los datos.

In [2]:
# casas_dev.csv

print("\"casas_dev.csv\"\n")
raw_data.casas_dev.info(memory_usage=False)
print("")
print("")
print("Cantidad de filas con uno o más elementos nulos: ", data_handler.get_null_rows(raw_data.casas_dev))
print("")

"casas_dev.csv"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area        900 non-null    float64
 1   area_units  900 non-null    object
 2   is_house    900 non-null    int64
 3   has_pool    900 non-null    int64
 4   age         770 non-null    float64
 5   price       900 non-null    float64
 6   lat         900 non-null    float64
 7   lon         900 non-null    float64
 8   rooms       828 non-null    float64
dtypes: float64(6), int64(2), object(1)

Cantidad de filas con uno o más elementos nulos:  189

In [3]:
#
#   OBSERVACIONES / POSIBLES CAMBIOS -- 'casas_dev.csv'
#
#   Tipos de datos erróneos:
#   * Las features 'is_house' y 'has_pool' podrían ser booleanos en lugar de enteros.
#   * Las features 'age' y 'rooms' podrían ser enteros en lugar de floats.}
#   Datos incompletos:
#   * La feature 'age' presenta 130 datos nulos.   Podría completarse con el promedio del valor de la feature o remover las filas donde 'age' es nulo.
#   * La feature 'rooms' presenta 72 datos nulos.  Podría completarse con el promedio del valor de la feature o remover las filas donde 'rooms' es nulo.
#   * En total hay 189 filas con elementos nulos.
#   Datos inconsistentes:
#   * La feature 'area' contiene valores numéricos en dos unidades de medida diferentes. Sería conveniente convertir todos los valores a una unidad en común.
#

CORRECCIONES DATASET

In [4]:
# casas_dev.csv

updated_casas_dev : pd.DataFrame = prepro.correct_data_types(raw_data.casas_dev)
updated_casas_dev : pd.DataFrame = prepro.convert_area_units(updated_casas_dev, 'm2')
updated_casas_dev.info(memory_usage=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area        900 non-null    Int64
 1   area_units  900 non-null    string
 2   is_house    900 non-null    bool
 3   has_pool    900 non-null    bool
 4   age         770 non-null    Int64
 5   price       900 non-null    Int64
 6   lat         900 non-null    Float64
 7   lon         900 non-null    Float64
 8   rooms       828 non-null    Int64
dtypes: Float64(2), Int64(4), bool(2), string(1)

In [5]:
processed_data : data_handler.ProcessedData = data_handler.ProcessedData(area_units='m2') # Contiene los datos normalizados, con los tipos corregidos, y unidades unificadas.
processed_data.save_data_to()
processed_data.casas_dev.head()

,area,area_units,is_house,has_pool,age,price,lat,lon,rooms
0,-1.184423,m2,True,False,1.631468,0.229896,1.027922,-1.029048,-0.777928
1,0.238429,m2,False,False,-0.254135,0.843512,1.028819,-1.023917,0.276285
2,-1.085154,m2,False,False,-0.673157,-0.006331,1.027677,-1.031808,-0.777928
3,1.065668,m2,True,True,1.212445,-0.619947,-0.970935,0.966503,1.330499
4,1.098757,m2,False,False,-0.463646,1.4312,1.02907,-1.025898,1.330499