In [ ]:
import pandas as pd
from utils import Utils, RawData

casas_dev : pd.DataFrame = Utils.correct_data_types(RawData.casas_dev)
casas_dev = Utils.convert_area_units(casas_dev, 'm2')
casas_dev.info(memory_usage=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area        900 non-null    Int64
 1   area_units  900 non-null    string
 2   is_house    900 non-null    bool
 3   has_pool    900 non-null    bool
 4   age         770 non-null    Int64
 5   price       900 non-null    Int64
 6   lat         900 non-null    Float64
 7   lon         900 non-null    Float64
 8   rooms       828 non-null    Int64
dtypes: Float64(2), Int64(4), bool(2), string(1)

In [13]:
casas_dev_normalized : pd.DataFrame = Utils.normalize_numeric_columns(casas_dev)
casas_dev_normalized.info(memory_usage=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area        900 non-null    Float64
 1   area_units  900 non-null    string
 2   is_house    900 non-null    bool
 3   has_pool    900 non-null    bool
 4   age         770 non-null    Float64
 5   price       900 non-null    Float64
 6   lat         900 non-null    Float64
 7   lon         900 non-null    Float64
 8   rooms       828 non-null    Float64
dtypes: Float64(6), bool(2), string(1)

In [14]:
casas_dev.head()

,area,area_units,is_house,has_pool,age,price,lat,lon,rooms
0,59,sqft,True,False,18,546,40.679064,-74.007844,2
1,102,sqft,False,False,9,759,40.712839,-73.96775,3
2,62,sqft,False,False,7,464,40.669863,-74.029414,2
3,127,m2,True,True,16,251,-34.600437,-58.415266,4
4,128,sqft,False,False,8,963,40.722322,-73.983229,4

In [15]:
casas_dev_normalized.head()

,area,area_units,is_house,has_pool,age,price,lat,lon,rooms
0,-1.184423,sqft,True,False,1.631468,0.229896,1.027922,-1.029048,-0.777928
1,0.238429,sqft,False,False,-0.254135,0.843512,1.028819,-1.023917,0.276285
2,-1.085154,sqft,False,False,-0.673157,-0.006331,1.027677,-1.031808,-0.777928
3,1.065668,m2,True,True,1.212445,-0.619947,-0.970935,0.966503,1.330499
4,1.098757,sqft,False,False,-0.463646,1.4312,1.02907,-1.025898,1.330499

In [16]:
train : pd.DataFrame
validation : pd.DataFrame
train, validation = Utils.get_train_and_validation_sets(casas_dev_normalized, train_fraction=0.8, seed=42)

In [17]:
train.info(memory_usage=False)

<class 'pandas.core.frame.DataFrame'>
Index: 720 entries, 70 to 645
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area        720 non-null    Float64
 1   area_units  720 non-null    string
 2   is_house    720 non-null    bool
 3   has_pool    720 non-null    bool
 4   age         613 non-null    Float64
 5   price       720 non-null    Float64
 6   lat         720 non-null    Float64
 7   lon         720 non-null    Float64
 8   rooms       662 non-null    Float64
dtypes: Float64(6), bool(2), string(1)

In [18]:
validation.info(memory_usage=False)

<class 'pandas.core.frame.DataFrame'>
Index: 180 entries, 1 to 896
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area        180 non-null    Float64
 1   area_units  180 non-null    string
 2   is_house    180 non-null    bool
 3   has_pool    180 non-null    bool
 4   age         157 non-null    Float64
 5   price       180 non-null    Float64
 6   lat         180 non-null    Float64
 7   lon         180 non-null    Float64
 8   rooms       166 non-null    Float64
dtypes: Float64(6), bool(2), string(1)